<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="checkPaymentAvailable()">

<a th:href="@{/}">Домой</a>

<a th:href="@{/order/all}"><i class="fa fa-archive" style="font-size:36px; float: right"></i></a>
<div style="float: right">
    <i class="fa fa-address-card-o" style="font-size:36px"></i>
    <br>
    <span th:text="${#authentication?.principal?.username}">Stub</span>
    <br>
    <a th:href="@{/logout}" >Выйти</a>
</div>

<h2>Текущие товары в корзине</h2>
<div th:each="orderItem : ${order.orderItems}" style="display: inline-block; width: 20%; overflow: hidden; border-style: solid; text-align: center">
    <h3>
        <p th:text="${orderItem.productInfo.title}" style="text-align: center"></p>
    </h3>
    <br>

    <p th:utext="'<b>Цена:</b> ' + ${orderItem.productInfo.price}" style="text-align: center"></p>

    <br>
    <button th:onclick="addProductToBasket([[${orderItem.productInfo.id}]])">+</button>
    <p th:id="${orderItem.productInfo.id} + '_count'" th:text="${orderItem.productCount?:'0'}" style="text-align: center"></p>
    <button th:onclick="deleteProductFromBasket([[${orderItem.productInfo.id}]],[[${orderItem.id}]])">-</button>
    <br>
    <button th:onclick="clearBasket([[${orderItem.productInfo.id}]],[[${orderItem.id}]])">Удалить товар из корзины</button>
</div>

<p>
<p th:text="'Общая сумма заказа: '"></p>
<p id="current-order-sum" th:text="${order.getCurrentSum()}"></p>
</p>

<button id="place-an-order-button" th:onclick="placeAnOrder()">Оформить заказ</button>

<script type="text/javascript" th:src="@{/js/basket-func.js}"></script>
</body>
</html>