<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/img.css">
</head>
<body>

<a th:href="@{/}">Домой</a>

<a th:href="@{/order/current/info}"><i class="fa fa-shopping-cart" style="font-size:36px; float: right"></i></a>
<a th:href="@{/order/all}"><i class="fa fa-archive" style="font-size:36px; float: right"></i></a>

<h1 th:text="${product.title}"></h1>

<div th:if="${#strings.length(product.image) > 0}" class="img-container">
    <img th:src="'data:image/jpeg;base64,' + ${product.image}" alt="Image not loaded"/>
</div>
<br>

<div th:text="${product.description}"></div>
<div th:utext="'<b>Цена:</b>' + ${product.price}"></div>
<br>
<button th:onclick="addProductToBasket([[${product.id}]])">+</button>
<p th:id="${product.id} + '_count'" th:text="${basket?.productCount?:'0'}"></p>
<button th:onclick="deleteProductFromBasket([[${product.id}]],[[${basket?.id}]])">-</button>
<br>
<button th:onclick="clearBasket([[${product.id}]],[[${basket?.id}]])">Удалить товар из корзины</button>

<br>
<script type="text/javascript" th:src="@{/js/basket-func.js}"></script>

</body>
</html>