<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/img.css">
</head>
<body>

<a th:href="@{/order/current/info}"><i class="fa fa-shopping-cart" style="font-size:36px; float: right"></i></a>
<a th:href="@{/order/all}"><i class="fa fa-archive" style="font-size:36px; float: right"></i></a>
<div>
    <div th:if="${#authentication?.principal?.username != null}" style="float: right">
        <i class="fa fa-address-card-o" style="font-size:36px"></i>
        <br>
        <span th:text="${#authentication?.principal?.username}">Stub</span>
        <br>
        <a th:href="@{/logout}" >Выйти</a>
    </div>
    <div th:unless="${#authentication?.principal?.username != null}">
        <a th:href="@{/login}" style="float: right">Войти<i class="fa fa-address-card-o" style="font-size:36px; float: right"></i></a>
    </div>
</div>
<a th:href="@{/product/upload}"><i class="fa fa-cloud-upload" style="font-size:36px"></i></a>

<h1>Витрина нашего магазина</h1>
<br>
<form method="GET" th:action="@{/products}" th:object="${filtration}">
    <label for="page-num"><b>Номер страницы</b></label>
    <input type="number" th:field="*{pageNum}" min="0" required="true" th:value="${filtration?.pageNum}"/>
    <label for="page-size"><b>Размер страницы</b></label>
    <input type="number" th:field="*{pageSize}" min="0" required="true" th:value="${filtration?.pageSize}"/>
    <label for="key-word"><b>Фильтр по названию</b></label>
    <input type="text" th:field="*{keyWord}" th:value="${filtration?.keyWord}"/>
    <br>
    <label for="price-sort-asc"><b>Сортировка по цене возрастающая</b></label>
    <input type="checkbox" th:field="*{priceSortAsc}"/>
    <label for="abc-sort-asc"><b>Сортировка алфавиту возрастающая</b></label>
    <input type="checkbox" th:field="*{abcSortAsc}"/>
    <label for="price-sort-desc"><b>Сортировка по цене убывающая</b></label>
    <input type="checkbox" th:field="*{priceSortDesc}"/>
    <label for="abc-sort-desc"><b>Сортировка алфавиту убывающая</b></label>
    <input type="checkbox" th:field="*{abcSortDesc}"/>
    <br>
    <button>Обновить</button>
</form>

<div th:each="product : ${products}" style="display: inline-block; width: 20%; overflow: hidden; border-style: solid; text-align: center">
    <h3>
        <a th:href="@{/product/{id}(id=${product.id})}">
            <p th:text="${product.title}" style="text-align: center"></p>
        </a>
    </h3>
    <br>

    <p th:utext="'<b>Цена:</b> ' + ${product.price}" style="text-align: center"></p>

    <div th:if="${#strings.length(product.image) > 0}" class="img-container">
        <img th:src="'data:image/jpeg;base64,' + ${product.image}" alt="Image not loaded"/>
    </div>
    <br>
    <div th:if="${#authentication?.principal?.username != null}">
        <button th:onclick="addProductToBasket([[${product.id}]])">+</button>
        <p th:id="${product.id} + '_count'" th:text="${order.getBasketForProduct(product.id)?.productCount?:'0'}" style="text-align: center"></p>
        <button th:onclick="deleteProductFromBasket([[${product.id}]],[[${order.getBasketForProduct(product.id)?.id}]])">-</button>
    </div>
</div>
<br>
<br>
<br>

<script type="text/javascript" th:src="@{/js/basket-func.js}"></script>
</body>
</html>