<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h1>Витрина нашего магазина</h1>
<br>
<form method="GET" th:action="@{/products}">
    <label for="page-num"><b>Номер страницы</b></label>
    <input type="number" th:name="page-num" required="true" th:value="${currentPageNum}"/>
    <label for="page-size"><b>Размер страницы</b></label>
    <input type="number" th:name="page-size" required="true" th:value="${currentPageSize}" />
    <label for="key-word"><b>Фильтр по названию</b></label>
    <input type="text" th:name="key-word" th:value="${currentKeyWord}"/>
    <br>
    <label for="price-sort-asc"><b>Сортировка по цене возрастающая</b></label>
    <input type="checkbox" th:name="price-sort-asc"/>
    <label for="abc-sort-asc"><b>Сортировка алфавиту возрастающая</b></label>
    <input type="checkbox" th:name="abc-sort-asc"/>
    <label for="price-sort-desc"><b>Сортировка по цене убывающая</b></label>
    <input type="checkbox" th:name="price-sort-desc"/>
    <label for="abc-sort-desc"><b>Сортировка алфавиту убывающая</b></label>
    <input type="checkbox" th:name="abc-sort-desc"/>
    <br>
    <button>Обновить</button>
</form>

<div th:each="product : ${products}">
    <h3><a th:href="@{/product/{id}(id=${product.id})}" th:text="${product.title}"></a></h3>
    <br>

    <div th:utext="${product.price}"></div>

    <div th:if="${#strings.length(product.image) > 0}">
        <img th:src="${product.image}" alt="Image not loaded"/>
    </div>
    <br>
    <button th:id="${product.id}" th:onclick="addProductToBasket([[${product.id}]],[[${basket.get(product.id)?.id}]])">+</button>
    <p th:id="${product.id} + '_count'" th:text="${basket.get(product.id)?.productCount?:'0'}"></p>
    <button th:id="${product.id}" th:onclick="deleteProductFromBasket([[${product.id}]],[[${basket.get(product.id)?.id}]])">-</button>
</div>
<br>
<br>
<br>

<script>
    function deleteProductFromBasket(productId, basketId) {
        if ((+document.getElementById(id + '_count').innerHTML) > 0 ) {
            document.getElementById(id + '_count').innerHTML = (+document.getElementById(id + '_count').innerHTML) - (+1);
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", "/basket/delete/" + id, true);
            xhr.send();
        }
    }

    function addProductToBasket(productId, basketId) {
        document.getElementById(id + '_count').innerHTML = (+document.getElementById(id + '_count').innerHTML) + (+1);
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", "/basket/add/" + id, true);
        xhr.send();
    }

</script>
</body>
</html>