<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<a th:href="@{/}">Домой</a>

<a th:href="@{/order/current/info}"><i class="fa fa-shopping-cart" style="font-size:36px; float: right"></i></a>

<h1 th:text="${product.title}"></h1>

<div th:if="${#strings.length(product.image) > 0}">
    <img th:src="${product.image}" alt="Image not loaded"/>
</div>
<br>

<div th:utext="${product.description}"></div>
<div th:utext="${product.price}"></div>
<br>
<button th:onclick="addProductToBasket([[${product.id}]])">+</button>
<p th:id="${product.id} + '_count'" th:text="${basket?.productCount?:'0'}"></p>
<button th:onclick="deleteProductFromBasket([[${product.id}]],[[${basket?.id}]])">-</button>
<br>
<button th:onclick="clearBasket([[${product.id}]],[[${basket?.id}]])">Удалить товар из корзины</button>

<br>
<script>
    function deleteProductFromBasket(productId, basketId) {
        if ((+document.getElementById(productId + '_count').innerHTML) > 0 ) {
            document.getElementById(productId + '_count').innerHTML = (+document.getElementById(productId + '_count').innerHTML) - (+1);
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", "/basket/delete/" + basketId, true);
            xhr.onload = function () {
                window.location.reload();
            }
            xhr.send();
        }
    }

    function addProductToBasket(productId) {
        document.getElementById(productId + '_count').innerHTML = (+document.getElementById(productId + '_count').innerHTML) + (+1);
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", "/basket/add/" + productId, true);
        xhr.onload = function () {
            window.location.reload();
        }
        xhr.send();
    }

     function clearBasket(productId, basketId) {
        if ((+document.getElementById(productId + '_count').innerHTML) > 0 ) {
            document.getElementById(productId + '_count').innerHTML = 0;
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", "/basket/clear/" + basketId, true);
            xhr.onload = function () {
                window.location.reload();
            }
            xhr.send();
        }
    }
</script>
</body>
</html>